.add-article-wrapper {
    .article-show {
        border: 1px solid #d9d9d9;
        height: 670px;
        padding: 10px;
        background-color: #f0f0f0;
        overflow-y: auto;
    }
    .draft-btn {
        margin-right: 15px;
    }
}
